In [96]:
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from src.utils.utility import *

%matplotlib inline

In [97]:
# this blog of code allows me to import my secrets file from the conf folder in my 
# current jupyter notebook
root_dir = os.path.join(os.getcwd(), '..')
sys.path.append(root_dir)

src_dir = os.path.join(os.getcwd(), '..', 'src', 'data' )
sys.path.append(src_dir)

In [81]:
from make_dataset import *

In [98]:
from dotenv import load_dotenv, find_dotenv

In [99]:
# find .env automatically by walking up directories until it's found
dotenv_path = find_dotenv()
# load up the entries as environment variables
load_dotenv(dotenv_path)

ALPHA_VANTAGE_KEY= os.environ.get("ALPHA_VANTAGE_KEY")
# Download data as CSV from API 
function = 'TIME_SERIES_DAILY_ADJUSTED'
symbol = 'MSFT'
datatype = 'csv'
url = f"https://www.alphavantage.co/query?function={function}&symbol={symbol}&datatype={datatype}&apikey={ALPHA_VANTAGE_KEY}"

msft_raw = pd.read_csv(url)

# before making any changes save this to raw data folder
msft_raw.to_csv('../data/raw/msft_raw.csv', index=False)

In [100]:
msft_raw

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2021-05-03,253.400,254.3500,251.120,251.86,251.860000,19626568,0.0,1.0
1,2021-04-30,249.740,253.0800,249.600,252.18,252.180000,30945098,0.0,1.0
2,2021-04-29,255.460,256.1000,249.000,252.51,252.510000,40589023,0.0,1.0
3,2021-04-28,256.078,256.5399,252.950,254.56,254.560000,46903119,0.0,1.0
4,2021-04-27,261.585,263.1900,260.120,261.97,261.970000,31014213,0.0,1.0
...,...,...,...,...,...,...,...,...,...
95,2020-12-14,213.100,216.2100,212.880,214.20,213.709920,28798379,0.0,1.0
96,2020-12-11,210.050,213.3200,209.110,213.26,212.772071,30979440,0.0,1.0
97,2020-12-10,211.770,213.0800,210.360,210.52,210.038340,26467017,0.0,1.0
98,2020-12-09,215.160,215.2250,211.214,211.80,211.315411,32440603,0.0,1.0
99,2020-12-08,213.970,216.9500,212.890,216.01,215.515779,23284094,0.0,1.0

In [57]:
alphavantage_api_csv_download_raw(function="TIME_SERIES_DAILY_ADJUSTED", symbol="MSFT", alphavantage_api_key="ALPHA_VANTAGE_KEY")

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2021-05-03,253.400,254.3500,251.120,251.86,251.860000,19626568,0.0,1.0
1,2021-04-30,249.740,253.0800,249.600,252.18,252.180000,30945098,0.0,1.0
2,2021-04-29,255.460,256.1000,249.000,252.51,252.510000,40589023,0.0,1.0
3,2021-04-28,256.078,256.5399,252.950,254.56,254.560000,46903119,0.0,1.0
4,2021-04-27,261.585,263.1900,260.120,261.97,261.970000,31014213,0.0,1.0
...,...,...,...,...,...,...,...,...,...
95,2020-12-14,213.100,216.2100,212.880,214.20,213.709920,28798379,0.0,1.0
96,2020-12-11,210.050,213.3200,209.110,213.26,212.772071,30979440,0.0,1.0
97,2020-12-10,211.770,213.0800,210.360,210.52,210.038340,26467017,0.0,1.0
98,2020-12-09,215.160,215.2250,211.214,211.80,211.315411,32440603,0.0,1.0
99,2020-12-08,213.970,216.9500,212.890,216.01,215.515779,23284094,0.0,1.0

In [105]:
# import data from 'data/raw' data folder into the processing notebook
msft_proc= pd.read_csv(os.path.join(os.getcwd(), '..', 'data/raw/msft_raw.csv'), parse_dates=['timestamp'])
# Let's take a look at our dataset
msft_proc.head()

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2021-05-03,253.400,254.3500,251.12,251.86,251.86,19626568,0.0,1.0
1,2021-04-30,249.740,253.0800,249.60,252.18,252.18,30945098,0.0,1.0
2,2021-04-29,255.460,256.1000,249.00,252.51,252.51,40589023,0.0,1.0
3,2021-04-28,256.078,256.5399,252.95,254.56,254.56,46903119,0.0,1.0
4,2021-04-27,261.585,263.1900,260.12,261.97,261.97,31014213,0.0,1.0

In [86]:
msft_proc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   timestamp          100 non-null    datetime64[ns]
 1   open               100 non-null    float64
 2   high               100 non-null    float64
 3   low                100 non-null    float64
 4   close              100 non-null    float64
 5   adjusted_close     100 non-null    float64
 6   volume             100 non-null    int64
 7   dividend_amount    100 non-null    float64
 8   split_coefficient  100 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(1)
memory usage: 7.2 KB

In [20]:
# Build features
# Add days of the week 
msft_proc['day_of_week'] = msft_proc['timestamp'].dt.day_name()

# create dummy variables

dummies= pd.get_dummies(msft_proc['day_of_week'])

# drop original days of the week column from the original dataframe
msft_proc.drop('day_of_week', axis=1, inplace=True)

# add two dataframes together
msft_proc= pd.concat([msft_proc, dummies], axis= 1)

# we are only interested in running a regression of volume against the dummy variables 
# for days of the week. Because of this we will drop the remaining variables before 
# importing it to our processed data folder
msft_proc.drop(columns=['timestamp', 'open', 'high', 'low', 'close', 
                        'adjusted_close','dividend_amount', 'split_coefficient'], 
               inplace=True)
msft_proc.head()

     volume  Friday  Monday  Thursday  Tuesday  Wednesday
0  19626568       0       1         0        0          0
1  30945098       1       0         0        0          0
2  40589023       0       0         1        0          0
3  46903119       0       0         0        0          1
4  31014213       0       0         0        1          0

In [109]:
msft_proc

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,timestmap
0,2021-05-03,253.400,254.3500,251.120,251.86,251.860000,19626568,0.0,1.0,2021-05-03
1,2021-04-30,249.740,253.0800,249.600,252.18,252.180000,30945098,0.0,1.0,2021-04-30
2,2021-04-29,255.460,256.1000,249.000,252.51,252.510000,40589023,0.0,1.0,2021-04-29
3,2021-04-28,256.078,256.5399,252.950,254.56,254.560000,46903119,0.0,1.0,2021-04-28
4,2021-04-27,261.585,263.1900,260.120,261.97,261.970000,31014213,0.0,1.0,2021-04-27
...,...,...,...,...,...,...,...,...,...,...
95,2020-12-14,213.100,216.2100,212.880,214.20,213.709920,28798379,0.0,1.0,2020-12-14
96,2020-12-11,210.050,213.3200,209.110,213.26,212.772071,30979440,0.0,1.0,2020-12-11
97,2020-12-10,211.770,213.0800,210.360,210.52,210.038340,26467017,0.0,1.0,2020-12-10
98,2020-12-09,215.160,215.2250,211.214,211.80,211.315411,32440603,0.0,1.0,2020-12-09
99,2020-12-08,213.970,216.9500,212.890,216.01,215.515779,23284094,0.0,1.0,2020-12-08

In [112]:
process_df= process_alphavantage_data_create_dow_dummies(msft_proc)
process_df.drop('timestmap', inplace=True, axis= 1)

In [113]:
process_df

      volume  Friday  Monday  Thursday  Tuesday  Wednesday
0   19626568       0       1         0        0          0
1   30945098       1       0         0        0          0
2   40589023       0       0         1        0          0
3   46903119       0       0         0        0          1
4   31014213       0       0         0        1          0
..       ...     ...     ...       ...      ...        ...
95  28798379       0       1         0        0          0
96  30979440       1       0         0        0          0
97  26467017       0       0         1        0          0
98  32440603       0       0         0        0          1
99  23284094       0       0         0        1          0

[100 rows x 6 columns]

In [114]:
# Let's save our file
process_df.to_csv("../data/processed/msft_process.csv", index= False)

In [88]:
msft_proc

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,timestmap
0,2021-05-03,253.400,254.3500,251.120,251.86,251.860000,19626568,0.0,1.0,2021-05-03
1,2021-04-30,249.740,253.0800,249.600,252.18,252.180000,30945098,0.0,1.0,2021-04-30
2,2021-04-29,255.460,256.1000,249.000,252.51,252.510000,40589023,0.0,1.0,2021-04-29
3,2021-04-28,256.078,256.5399,252.950,254.56,254.560000,46903119,0.0,1.0,2021-04-28
4,2021-04-27,261.585,263.1900,260.120,261.97,261.970000,31014213,0.0,1.0,2021-04-27
...,...,...,...,...,...,...,...,...,...,...
95,2020-12-14,213.100,216.2100,212.880,214.20,213.709920,28798379,0.0,1.0,2020-12-14
96,2020-12-11,210.050,213.3200,209.110,213.26,212.772071,30979440,0.0,1.0,2020-12-11
97,2020-12-10,211.770,213.0800,210.360,210.52,210.038340,26467017,0.0,1.0,2020-12-10
98,2020-12-09,215.160,215.2250,211.214,211.80,211.315411,32440603,0.0,1.0,2020-12-09
99,2020-12-08,213.970,216.9500,212.890,216.01,215.515779,23284094,0.0,1.0,2020-12-08