In [2]:
import pandas as pd

In [4]:
# read new dataframe in from processed data folder
msft_model_df = pd.read_csv("../data/processed/msft_process.csv")
msft_model_df

      volume  Friday  Monday  Thursday  Tuesday  Wednesday
0   19626568       0       1         0        0          0
1   30945098       1       0         0        0          0
2   40589023       0       0         1        0          0
3   46903119       0       0         0        0          1
4   31014213       0       0         0        1          0
..       ...     ...     ...       ...      ...        ...
95  28798379       0       1         0        0          0
96  30979440       1       0         0        0          0
97  26467017       0       0         1        0          0
98  32440603       0       0         0        0          1
99  23284094       0       0         0        1          0

[100 rows x 6 columns]

In [5]:
#  a simple regression on the processed dataset.
# import required library 
from statsmodels.formula.api import ols

In [13]:
#Define the Problem
outcome= 'volume'
x_cols= ['Friday',	'Monday',	'Thursday',	'Tuesday',	'Wednesday']

#Fitting the actual model
predictors= '+ '.join(x_cols)

formula = outcome + '~' + predictors

model= ols(formula, msft_model_df).fit()

In [15]:
# save the model
import pickle
filename= '../models/finalize_model.sav'
pickle.dump(model, open(filename, 'wb'))